@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background: no-repeat url(./front-end-technical-exercise-assets/photo-couch_2x.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#main-container {
    width: 70%;
    margin: 0 auto;
}
#main-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding-bottom: 8rem;
}
#main-section>p{
    font-size: 30px;
    margin-bottom: 2rem;
    font-weight: 300;
}
#main-section>h1 {
    font-size: 80px;
    margin-bottom: 2rem;
    font-weight: 300;
}
#main-section > button {
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #50e3c2;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
    font-weight: 400;
    transition: 0.3s ;
}
#main-section > button:hover{
    background-color: #068064;
    color: #50e3c2;

}
#main-header {
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: #222222;
    display: flex;
    align-items: center;
}
#main-header>nav {
    margin: 0 auto;
    width: 70%;
}
#main-header>nav>img{
    width: 150px;
    cursor: pointer;
}
.grid-container {
    margin: 0 auto;
    width: 70%;
    color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 180px;
}
#how-it-works {
    position: absolute;
    left: 0;
    margin: 0 auto;
    background-color: #f2f1ef;
    color: #2f3237;
    text-align: center;
    padding: 5rem 0;
}
#how-it-works>h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.bg-numbers {
    font-size: 60px;
}
.bg-numbers::after{
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    background: #50e3c2;
    position: relative;
    margin: 20px auto;
}
.grid-box {
    color: #2f3237;
}
.grid-box > h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.grid-box > p:nth-last-child(1) {
    font-size: 18px;
}